//
   Created by sum on 03/10/15.

extends layout.jade
block body
    div(class="container", ng-controller="LoginController")
        div(class="col-lg-4")
        div(class="col-lg-4")
            form(role="form")
                div(class="form-group")
                  input(type="text",placeholder="username",class="form-control")
                div(class="form-group")
                    input(type="pasword",placeholder="password",class="form-control")
                input(type="submit",value="Login",class="btn btn-primary")
        div(class="col-lg-4")

